<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.systemcontrol.corpsele.systemcontrol"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:remove="android:appComponentFactory">
        <service
            android:name=".MyAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/accessibility_service_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <!-- android:appComponentFactory="androidx"> -->
        <!-- <activity android:name=".DKPlayerActivity"></activity> -->
        <activity android:name=".PlayerActivity" />
        <activity
            android:name=".Main2Activity"
            android:launchMode="standard" />
        <activity
            android:name=".MainActivityK1"
            android:launchMode="standard" />
        <activity
            android:name=".Main3Activity"
            android:launchMode="standard" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".NewAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.action.haha" />
                <action android:name="com.systemcontrol.restart"/>
                <action android:name="com.action.systemAddAction"/>
                <action android:name="com.action.systemDecAction"/>
                <action android:name="com.action.smsAddAction"/>
                <action android:name="com.action.smsDecAction"/>
                <action android:name="com.action.voipAddAction"/>
                <action android:name="com.action.voipDecAction"/>
                <action android:name="com.action.musicAddAction"/>
                <action android:name="com.action.musicDecAction"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>
        <service android:name=".MyService" />

<!--        <receiver android:name=".SystemControlWidget">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
<!--                <action android:name="android.appwidget.action.APPWIDGET_CLICK" />-->
<!--            </intent-filter>-->

<!--            <meta-data-->
<!--                android:name="android.appwidget.provider"-->
<!--                android:resource="@xml/system_control_widget_info" />-->
<!--        </receiver>-->

<!--        <activity android:name=".SystemControlWidgetConfigureActivity">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
    </application>

</manifest>